In [23]:
s="this is My First Python programming class and I am learning python string and its function"

In [2]:
#1.Try to extract data from index one to index 300 wiith a jump of 3

In [16]:
s[1:300:3]

'h   r tnrrmglsnImengyosi dtfco'

In [4]:
s1="We are learning problem solving using computation"

In [5]:
# Exract data from 1 to 10 with a jump of 2.
s1[1:11:2]

'eaela'

In [6]:
#2.Try to reverse a string without using reverse function|

In [17]:
s[::-1]

'noitcnuf sti dna gnirts nothyp gninrael ma I dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [8]:
#3.Try to split a string after conversion of entire string in uppercase.

In [29]:
#Method 1
s1=s.upper()
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [28]:
#Method 2
s.upper().split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [11]:
#4.Try to convert the whole string into lower case

In [24]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [27]:
#5.Try to capitalize the whole string
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [15]:
#6.Write a difference between isalnum() and isalpha()

In [30]:
# isalnum() - This function checks that if all the characters in the string are alphanumeric if yes it prints True else it prints False.
# isalpha() - This function checks that if all the characters in the string are alphabets if yes it prints True else it prints False.

In [31]:
#7. Try to give an example of expand tab

In [34]:
exp="Hii\tthis\tis\tfor\tyou\tanuja!"

In [35]:
exp.expandtabs()

'Hii     this    is      for     you     anuja!'

In [38]:
exp.expandtabs(15)

'Hii            this           is             for            you            anuja!'

In [39]:
#8.Give an example of strip,istrip and rstrip

In [40]:
#1 example of strip:
a = "@@@2@Hey!! Anuja@2@@@"
a.strip("@2")

'Hey!! Anuja'

In [45]:
#2 example of lstrip:
a1 = "@@@22@Hey!! Anuja@2@@@"
a1.lstrip("@2")

'Hey!! Anuja@2@@@'

In [46]:
#3 example of rstrip:
a2 = "@@@22@Hey!! Anuja@2@@@"
a2.rstrip("@2")

'@@@22@Hey!! Anuja'

In [50]:
#9.Replace a string character by another character by taking your own example"your name"
name="Abhilasha"
name.replace("Abhilasha","Anuja")

'Anuja'

In [51]:
name.replace("Abhi","Anu")

'Anulasha'